/*menu options*/

html{
	scroll-behavior: smooth;
}

/*global*/


p{
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
}


nav{
	box-shadow: 4px 0 10px;
}

#logo{
	width:130px; 
	height:70px;
	 padding:0;
	 margin:0
}
.showcase-img{
	width: 100%;
	height: 700px;
	border-radius: 30px;
}

.col-info,.col-img{
	margin: 40px 0;
}

 h3{
	font-size: 55px;
	font-weight: bolder;
	padding-top: 35px;
	color: #ff8444;
	text-transform: capitalize;
}
/*about us*/
#about-us{
	margin: 50px 0;
}
.social{
	border-radius: 3px;
	border: 1px solid darkorange;
	width: 130px;
	padding: 3px;
	text-align: center;
}

.card-title{
	color: #ff8444;
}

/*profutable strategies section*/

.biz-profit .card{
	background: #364646;
	color: #fff;
	border-radius: 20px;
}
 .col-md-4{
	border-radius: 20px;
}
.signbtn{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding-top: 20px;
}
.signbtn .btn{
	padding: 10px;
	margin-bottom: 20px;
}

/*testmonial*/

.testmonial .card{
	
	margin-bottom: 60px;
}
.testmonial .card:hover{
	transform: scaleY(1.07);
	transition: 0.8s ease;
	box-shadow: 2px 5px 8px;
}

.navbar-right{
	float: right;

}
.subhead{
	font-size: 33px;
	font-weight: bolder;
	color: #ff9444;
	text-transform: capitalize;
}

#floatingTextarea{
	width: 400px;
	height: 100px;
}
/*media query section*/

@media  screen and (max-width: 746px){

	h3{
	font-size: 35px;
	
}
.subhead{
	font-size: 30px;
	}

.col-md-3{
	 margin-bottom: 30px;
}

#floatingTextarea{
	width: 100%;
}
#navbarNav{
	padding-left: 20px;
}

}